<%- include("../partials/header"); -%>

<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include("../partials/navigation"); -%>
<main>
    <h1>No Orders yet!</h1>
</main>
    
<%- include("../partials/footer") -%>